<mat-toolbar color="primary" class="app-titlebar">
  <span>{{event?.title | localize}}</span>
  <span></span>
  <span>
    <mat-form-field>
      <mat-select [value]="courseId" (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let course of courses" [value]="course.id">
          {{course.title | localize}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</mat-toolbar>

<div *ngIf="isHandset$ | async; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="app-icon-label">
          <mat-icon>table_chart</mat-icon>
          <span>{{'Data' | localize}}</span>
        </div>
      </ng-template>
      <div><!-- do not remove this block -->
        <app-course-table [courseId]="courseId" (holeClicked)="onHoleCliked($event)">
        </app-course-table>
      </div>
     </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="app-icon-label">
          <mat-icon>map</mat-icon>
          <span>{{'Map' | localize}}</span>
        </div>
      </ng-template>
      <ng-template matTabContent><!-- workaround for issue of resizing & ripple animation -->
      <div class="app-maps">
        <app-maps #appmaps [lastHole]="lastHole" [courseId]="courseId" (holeClicked)="onHoleMapCliked($event)">
        </app-maps>
      </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #elseBlock>
  <div class="combined">
    <app-maps #appmaps [courseId]="courseId" (holeClicked)="onHoleMapCliked($event)">
    </app-maps>
    <app-course-table [courseId]="courseId" (holeClicked)="onHoleCliked($event)">
    </app-course-table>
  </div>
</ng-template>
