<div *ngIf="isHandset$ | async; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <mat-tab-group>
    <mat-tab label="コース情報">
      <div><!-- do not remove this block -->
        <app-course-table [courseId]="courseId" (holeClicked)="onHoleCliked($event)">
        </app-course-table>
      </div>
     </mat-tab>
    <mat-tab label="コースマップ">
      <app-maps #appmaps [courseId]="courseId" (holeClicked)="onHoleMapCliked($event)">
      </app-maps>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #elseBlock>
  <div class="combined">
    <app-maps #appmaps [courseId]="courseId" (holeClicked)="onHoleMapCliked($event)">
    </app-maps>
    <app-course-table [courseId]="courseId" (holeClicked)="onHoleCliked($event)">
    </app-course-table>
  </div>
</ng-template>
