.event-page {
  max-width: 414px;
  margin: auto;
  padding: 2px 4px 4px 4px;
}
.event-page > div {
  margin-bottom: 5px;
}
.event-title a {
  display: flex;
}
.event-title span {
  height: 24px;
  line-height: 24px;
}
.event-title mat-icon {
  height: 24px;
}
mat-icon {
  color: white;
}
mat-toolbar span:nth-child(3) {
  height: 24px;
}
mat-toolbar a {
  color: white;
}
