<mat-toolbar color="primary" class="app-titlebar">
  <span>{{title}}</span>
  <span></span>
  <span></span>
</mat-toolbar>

<div class="event-page">
  <div>
    <app-preface>
    </app-preface>
  </div>
  <div>
    <app-event-table>
    </app-event-table>
  </div>
  <div>
    <app-index>
    </app-index>
  </div>
  <div>
    <app-config>
    </app-config>
  </div>
  <div>
    <app-preview>
    </app-preview>
  </div>
  <div class="footer">
    <span>
      <a href="https://jpdga-shizuoka.github.io/home">
      © Shizuoka Disc Golf Association
      </a>
    </span>
  </div>
</div>
