<div class="hole-sheet"
  [style.-webkit-transform-origin]="origin"
  [style.transform-origin]="origin"
  [style.-webkit-transform]="'scale(' + scale + ',1)'"
  [style.transform]="'scale(' + scale + ',1)'"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
  (swipeleft)="onSwipeLeft($event)"
  (swiperight)="onSwipeRight($event)">
  <div class="hole-number">
    <img src="{{teeMark}}" alt="">
  </div>
  <div class="hole-info">
    <h2>{{title}}</h2>
    <div *ngIf="hasDescriptions">
      <mat-divider></mat-divider>
      <p *ngFor="let description of descriptions">{{description}}</p>
    </div>
  </div>
</div>
