table, td {
  border-spacing: 0;
  text-align: center;
  font-size: 9pt;
}
table {
  border: 1px solid black;
}
td {
  border: 0.5px solid black;
}
.app-page {
  page-break-after: always;
  transform: translateY(50mm) rotate(90deg);
}
.app-page:last-child {
  page-break-after: avoid;
}
.card {
  width: 240mm;
  display: flex;
  margin: 0 0 0 5mm;
  outline: 1px solid #e0e0e0;
}
.score-half {
  width: 120mm;
  outline: 1px solid #e0e0e0;
}
.score-half > * {
  margin-right: 5mm;
}
.score-half > table {
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 5mm;
}
.title {
  display: flex;
  margin: 5mm 5mm 0 10mm;
}
.title > span:nth-child(1) {
  flex: 1 1 auto;
  margin: auto;
}
td {
  height: 7mm;
}
td.name {
  width: 25mm;
}
td.hole {
  width: 7mm;
}
td.sbttl {
  width: 10mm;
}
td.total {
  width: 10mm;
}
