.app-page {
  page-break-after: always;
}
.app-page:last-child {
  page-break-after: avoid;
}
#app-print-layout {
  width: 100vw;
  height: 100vh;
}
.app-print-button {
  position: absolute;
  z-index: 1;
}
#app-print {
  bottom: 2rem;
  right: 2rem;
}
