<div class="maps" (resized)="onResized($event)">
  <google-map
              height="{{height}}px"
              width="{{width}}px"
              [center]="center"
              [zoom]="zoom"
              [options]="mapOptions">
    <map-polygon *ngFor="let area of obAreas"
              [paths]="area"
              [options]="obAreaOptions"></map-polygon>
    <map-polyline *ngFor="let line of holeLines"
              [path]="line"
              [options]="holeLineOptions"></map-polyline>
    <map-marker *ngFor="let mando of mandos"
              [position]="mando"
              [options]="mandoOptions"></map-marker>
    <map-marker #teemarker *ngFor="let tee of tees; index as i"
              [position]="tee"
              [options]="teeOptions(i)"
              (mapClick)="openHoleDescription(teemarker, i)"></map-marker>
    <map-marker *ngFor="let goal of goals"
              [position]="goal"
              [options]="goalOptions"></map-marker>
    <map-info-window #infowindow>
      <h1>Hole: {{holeName}}</h1>
      <h2>{{length}}m / Par{{par}}</h2>
      <p>{{description}}</p>
    </map-info-window>
  </google-map>
</div>
