<div class="maps" (resized)="onResized($event)">
  <google-map
              height="{{height}}px"
              width="{{width}}px"
              [center]="center"
              [zoom]="zoom"
              [options]="mapOptions">

    <map-polygon *ngFor="let area of obAreas"
              [paths]="area"
              [options]="obAreaOptions"></map-polygon>

    <map-polyline *ngFor="let line of frontLines"
              [path]="line"
              [options]="frontLineOptions"></map-polyline>
    <map-polyline *ngFor="let line of backLines"
              [path]="line"
              [options]="backLineOptions"></map-polyline>

    <map-marker *ngFor="let mando of mandos"
              [position]="mando"
              [options]="mandoOptions"></map-marker>

    <map-marker #teemarker *ngFor="let tee of backTees; index as i"
              [position]="tee"
              [options]="backTeeOptions(i)"
              (mapClick)="onBackTeeClicked(teemarker, i)"></map-marker>
    <map-marker #teemarker *ngFor="let tee of frontTees; index as i"
              [position]="tee"
              [options]="frontTeeOptions(i)"
              (mapClick)="onFrontTeeClicked(teemarker, i)"></map-marker>

    <map-info-window #infowindow>
      <h2># {{holeName}}</h2>
      <h3>{{teeType}}: {{length}}m / Par{{par}}</h3>
      <p>{{description}}</p>
    </map-info-window>
  </google-map>
</div>
