<table>
  <tr>
    <th>{{event?.period | period}}</th>
    <th>{{event?.title | localize}}</th>
    <th>{{tee | localize}}@{{course?.title | localize}}</th>
  </tr>
</table>

<table>
  <tr>
    <th>{{"Common Rules" | localize}}</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li *ngFor="let rule of course?.description">{{rule}}</li>
      </ul>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>Hole</th>
    <th>Par</th>
    <th>{{"Length" | localize}}</th>
    <th>{{"Rules" | localize}}</th>
  </tr>
  <tr *ngFor="let hole of course?.holes">
    <td class="hole">{{hole.number}}</td>
    <td class="par">{{par(hole)}}</td>
    <td class="length">{{length(hole) | lengthUnit}}</td>
    <td>
      <ul>
        <li *ngFor="let rule of hole.description">{{rule}}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="total">{{"Total" | localize}}</td>
    <td class="par">{{totalPar}}</td>
    <td class="length">{{totalLength | lengthUnit}}</td>
    <td>
      <ul>
        <li>{{"Hole Average" | localize}}: {{averageLength | lengthUnit}}</li>
      </ul>
    </td>
  </tr>
</table>
