<mat-accordion class="app-index">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="app-icon-label">
        <mat-icon>map</mat-icon>
        <span>{{'Index of Map' | localize}}</span>
      </div>
    </mat-expansion-panel-header>

    <table>
      <tr>
        <td><img src="assets/maps/backtee1.svg" alt="back tee marker"></td>
        <td>{{'Back Tee' | localize}}</td>
      </tr>
      <tr>
        <td><img src="assets/maps/fronttee1.svg" alt="front tee marker"></td>
        <td>{{'Front Tee' | localize}}</td>
      </tr>
      <tr>
        <td><img src="assets/maps/dropzone.svg" alt="drop zone marker"></td>
        <td>{{'Drop Zone' | localize}}</td>
      </tr>
      <tr>
        <td><img src="assets/maps/mandoMarker.svg" alt="mandatory marker"></td>
        <td>{{'Mando' | localize}}</td>
      </tr>
      <tr>
        <td><img src="assets/maps/safearea.svg" alt="safe area"></td>
        <td>{{'Safe Area' | localize}}</td>
      </tr>
      <tr>
        <td><img src="assets/maps/obarea.svg" alt="ob area"></td>
        <td>{{'OB Area' | localize}}</td>
      </tr>
      <tr>
        <td><img src="assets/maps/hazardarea.svg" alt="hazard area"></td>
        <td>{{'Hazard Area' | localize}}</td>
      </tr>
      <tr>
        <td><img src="assets/maps/obline.svg" alt="ob line"></td>
        <td>{{'OB line' | localize}}</td>
      </tr>
    </table>

  </mat-expansion-panel>
</mat-accordion>
